#container {
   position:absolute;
   top:50px;
   left:50px;
   height:500px;
   width:800px;
   border: 1px solid black;
}

#ball {
    position:absolute;
    width:40px;
    height:40px;
    background-color:blue;
    display:block;
    border: 1px solid black;  
}

#racket {
    position:absolute;
    width:80px;
    height:7px;
    background-color:red;
    border: 1px solid black;
    display:none;
    top:480px;
    left:360px;
}
#shape {
    position:absolute;
    width:10px;
    height:10px;
    background-color:green;
    border: 1px solid black;
    display:none;
}

#message {
    position:absolute;
    top:210px;
    left:250px;
    width:300px;
    padding:10px;
    text-align:center;
    background-color:blue;
    color:white;
    border: 1px solid black;  
    font-family:monospace;
    font-weight:bold;
    display:none;
    font-size:50px;
}